body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0d2401;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 5%;
}

.logo img {
    width: 110px;
    height: 50px;
}

.containerHeader {
    display: flex;
    align-items: center;
}

.navbar {
    position: absolute;
    right: 10%;
    display: flex;
    gap: 40px;

}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.user a {
    color: white;
    font-size: 19px;
}

.fundo {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    background: url('imgs/fundo-loginCadastro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    padding: 10px;
    margin-left: 5%;
    margin-top: 25px;
}

.card {
    display: flex;
    align-items: center;
    width: 900px;
    border-radius: 20px;
    background: rgba(2, 13, 0, 0.7);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(124, 255, 91, 0.2);
    height: 580px;

}

.lado-esquerdo {
    width: 50%;
    padding: 40px;
}

.lado-esquerdo h2 {
    font-size: 26px;
}

.lado-esquerdo span {
    color: #146200;
}

.texto-login{
    margin-left: 50px;
}

.texto-login h3 {
    color: #146200;
}

.itens {
    margin-top: 30px;
    margin-left: 10%;
}

.item {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.lado-direito {
    width: 50%;
    padding: 40px;
}

.frase {
    font-size: 11px;
}

.opcao-cadastro-login {
    display: flex;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 30px;
    margin-bottom: 20px;
}

.opcao-cadastro-login button {
    flex: 1;
    padding: 10px;
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
}

.opcao-cadastro-login .ativo {
    background-color:  #2f7a03;
    border-radius: 30px;
}

.conteudo h2 {
    margin-bottom: 5px;
}

.conteudo p {
    color: #aaa;
    margin-bottom: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.campo input {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    color: white;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 20px;
}

.opcoes a {
    color: white;
    text-decoration: none;
}

.opcoes a:hover{
    color: #2f7a03;
}

.botaoEntrar {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;

    background-color: #2f7a03;
    color: white;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

.botaoEntrar:hover {
    transform: scale(1.02);
}

.cadastro {
    text-align: center;
    margin-top: 15px;
}

.cadastro a {
    color: #7cff5b;
}